@import "../_variables/variables";

.objective {
    padding: 105px 0;

    &__text {
        width: 70%;
        text-align: center;
        color: $text-grey;
        font-size: 18px;
        font-weight: 500;
    }

    &__header {
        width: 70%;
        text-align: center;
        color: $text-grey;
        font-size: 24px;
        font-weight: 700;
    }

    &__header span {
        color: $text-green;
        font-size: 24px;
        font-weight: 700;
    }
}

.objective-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
