$background-white: #fff;
$background-light-green: #f0eee2;
$background-light-green-2: #b4c95f;
$background-green: #004515;
$text-white: #fff;
$text-light-green: #b4c95f;
$text-green: #004515;
$text-grey: #343434;
$true: #f2d986;
$false: #fec7d5;
